<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Agency Calculator</title>
</head>
<body>
    <h1>Welcome to the Agency Calculator</h1>
    <p>This short survey will empower women to uncover their strengths and independence
         using self-assessment and trend analysis reporting tools.  The focus will be on
        microaggressions and how they impact women's agency.</p>
    <p>
        <a href="{{ url_for('survey') }}">Take the Agency Survey</a>
    </p>
    <p>
        <a href="{{ url_for('about') }}">About the Agency Calculator</a>
    </p>
</body>
</html>